<ion-content >
  <ion-card class="header-card">
    <ion-grid>
        <ion-row>
            <ion-col class="center-horizontally">
                <ion-item class="stretch-vertically" color="dark" lines="none">
                    <ion-select id="cube-selector" placeholder="Categoría" (ionChange)="changeCube()" [(ngModel)]="selectedCube">
                        <ion-select-option *ngFor="let cube of cubesList" [value]="cube">{{cube}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="center-horizontally">
                <ion-item class="stretch-vertically" color="dark" lines="none">
                    <ion-select class="select-tourney" placeholder="Torneo" [(ngModel)]="selectedTourney">
                        <ion-select-option>Global</ion-select-option>
                        <!-- <ion-select-option *ngFor="let tourney of tourneysList" [value]="tourney.name">{{tourney.name}}</ion-select-option> -->
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>

  <ion-toolbar>
    <ion-segment mode="md"  value="time">
      <ion-segment-button  (click)="orderByTime()" value="time">
        <ion-icon name="hourglass-outline"></ion-icon> 
      </ion-segment-button>
      <ion-segment-button  (click)="orderByDate()" value="date">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card *ngFor="let solve of solves">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2">
            <h5>{{solve.id}}</h5>
          </ion-col>
          
          <ion-col >
            <ion-item lines="none" color="dark">
              <p> 
                {{solve.timeStr}} <span class="date">{{solve.date}}</span>
              </p>
            </ion-item>
            <ion-item lines="none" color="dark" >
              <p>
                {{solve.scramble}}
              </p>
            </ion-item>
          </ion-col>
          
          <ion-col size="2">
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-button  (click)="optionsPopover($event, solve.id)" class="options-button" size="small" shape="round" fill="outline">
                  <ion-icon color="light" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>
