<!-- <ion-content name="timing_content" (click)="clickContent($event)" (press)="ready()" (pressup)="startTimer()"> -->
<ion-content id="mycontent" name="timing_content" (click)="clickContent($event)" (press)="onPressTimingArea($event)" (panstart)="onPressTimingArea($event)" (pressup)="onPressUpTimingArea($event)" (panend)="onPressUpTimingArea($event)">
    <ion-card color="dark" [hidden]="hideComponents">
        <ion-grid>
            <ion-row class="stretch-vertically">
                <ion-col class="center-horizontally">
                    <ion-item class="stretch-vertically" color="dark" lines="none">
                        <ion-select placeholder="3x3x3" (ionChange)="nextScramble()" [(ngModel)]="selectedCube">
                            <ion-select-option *ngFor="let cube of cubesList" [value]="cube">{{cube}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="stretch-vertically">
                <ion-col class="center-horizontally">
                    <ion-item class="stretch-vertically" color="dark" lines="none">
                        <ion-select class="select-tourney" placeholder="Global" (ionChange)="changeTourney()" [(ngModel)]="selectedTourney">
                            <ion-select-option *ngFor="let tourney of tourneysList" [value]="tourney.id">{{tourney.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <div name="timing_div" class="content">

        <ion-card name="timing_card" class="content scramble" color="transparent">
            <span name="txt_scramble" [hidden]="hideComponents">{{scramble.rawSequence}}</span>
        </ion-card>

        <h1 name="timing_content" class="content time-normal">{{time}}</h1>

        <ion-grid class="content solve-actions">
            <ion-row>
                <ion-col name="timing_col">
                    <ion-button name="btn_delete" [hidden]="hideComponents" shape="round">
                        <ion-icon style="font-size: 30px;" name="close-outline"></ion-icon>
                    </ion-button>
                    <ion-button name="btn_dnf" [hidden]="hideComponents" shape="round">DNF</ion-button>
                    <ion-button name="btn_plus2" [hidden]="hideComponents" shape="round">+2</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer class="ion-no-border" [hidden]="hideComponents">
    <ion-toolbar color="transparent">
        <ion-grid>
            <ion-row class="footer">
                <ion-col>
                    <pre class="stats" style="text-align: start">{{statsLeft}}</pre>
                </ion-col>
                <ion-col>
                    <pre class="stats" style="text-align: end">{{statsRight}}</pre>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>