$font-xlarge: 4.5em;
$font-large: 3.5em;
$font-medium: 1.2em;
$font-small: 0.9em;
$font-xsmall: 0.9em;
ion-content {
    --background: var(--ion-color-dark-tint);
}

ion-select {
    // Workaround to center selection v:
    min-width: 10vw;
    max-width: 50vw;
    font-weight: bold;
    font-size: $font-medium;
}

.select-tourney {
    font-size: $font-small;
}

.row-select {
    height: 2em;
}

.item-select-top {
    margin-top: -0.8em;
    height: 2em;
}

.item-select-bottom {
    margin-top: -0.5em;
    height: 2em;
}

ion-header {
    background-color: var(--ion-color-dark-tint);
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: var(--ion-color-light);
    font-weight: bold;
    .scramble {
        width: 90%;
        left: 5%;
        height: 25vh;
        box-shadow: none !important;
        span {
            font-size: $font-medium;
        }
    }
    .time-normal {
        margin-top: 5vh;
        font-size: $font-large;
    }
    .time-ready {
        margin-top: 16vh;
        font-size: $font-xlarge;
        color: var(--ion-color-warning);
    }
    .time-running {
        margin-top: 16vh;
        font-size: $font-xlarge;
    }
    .solve-actions {
        align-items: center;
    }
    ion-button {
        --box-shadow: none !important;
        --background: none;
        width: 5em;
        font-size: $font-small;
        font-weight: bold;
    }
}

ion-footer {
    margin-top: -1vh;
    background-color: var(--ion-color-dark-tint);
}

.stats {
    // margin-bottom: -1vh;
    color: var(--ion-color-light);
    font-size: $font-xsmall;
    font-family: var();
}