<ion-content name="timing-area" (touchstart)="onPressContent()" (touchend)="onPressUpContent()">

    <div class="timing-area">
        <ion-grid>
            <ion-row>
                <h1 class="time-normal">{{time}}</h1>
            </ion-row>
        </ion-grid>
    </div>

    <ion-toolbar class="stats" color="transparent" [hidden]="hideComponents">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <pre style="text-align: start">{{statsLeft}}</pre>
                </ion-col>
                <ion-col>
                    <pre style="text-align: end">{{statsRight}}</pre>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

</ion-content>

<ion-fab class="header-fab" [hidden]="hideComponents">
    <ion-card class="header-card">
        <ion-grid>
            <ion-row>
                <ion-col class="center-horizontally">
                    <ion-item class="stretch-vertically" color="dark" lines="none">
                        <ion-select placeholder="Categoría" (ionChange)="nextScramble()" [(ngModel)]="selectedCube">
                            <ion-select-option *ngFor="let cube of cubesList" [value]="cube">{{cube}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="center-horizontally">
                    <ion-item class="stretch-vertically" color="dark" lines="none">
                        <ion-select class="select-tourney" placeholder="Torneo" (ionChange)="changeTourney()" [(ngModel)]="selectedTourney">
                            <ion-select-option *ngFor="let tourney of tourneysList" [value]="tourney.name">{{tourney.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card name="timing_card" class="scramble">
        <span>{{scramble.rawSequence}}</span>
    </ion-card>

    <ion-card class="penalties">
        <ion-grid>
            <ion-row>
                <ion-col name="timing_col">
                    <ion-fab-button (click)="deleteSolve()" shape="round">
                        <ion-icon name="trash"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col>
                    <ion-fab-button (click)="dnfSolve()" shape="round">DNF</ion-fab-button>
                </ion-col>
                <ion-col>
                    <ion-fab-button (click)="plus2Solve()" shape="round">+2</ion-fab-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-fab>