<!-- <ion-header class="ion-no-border"> -->
<!-- </ion-header> -->

<ion-content (click)="clickContent($event)" (press)="ready()" (pressup)="startTimer()">
    <ion-card color="dark">
        <ion-grid>
            <ion-row>
                <!-- Workaround to center selection v: -->
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col className="ion-align-self-center">
                    <ion-item color="dark" lines="none">
                        <ion-select placeholder="3x3x3" (ionChange)="nextScramble()" [(ngModel)]="selectedCube">
                            <ion-select-option *ngFor="let cube of cubesList" [value]="cube">{{cube}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <!-- Workaround to center selection v: -->
            </ion-row>
        </ion-grid>
    </ion-card>
    <div class="content">

        <ion-card class="content scramble" color="transparent">
            <span name="txt_scramble">{{scramble.rawSequence}}</span>
        </ion-card>

        <h1 class="content time">{{time}}</h1>

        <ion-grid class="content solve-actions">
            <ion-row>
                <ion-col>
                    <ion-button name="btn_delete" shape="round">
                        <ion-icon style="font-size: 30px;" name="close-outline"></ion-icon>
                    </ion-button>
                    <ion-button name="btn_dnf" shape="round">DNF</ion-button>
                    <ion-button name="btn_plus2" shape="round">+2</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar color="transparent">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <pre class="stats" style="text-align: start">{{statsLeft}}</pre>
                </ion-col>
                <ion-col>
                    <pre class="stats" style="text-align: end">{{statsRight}}</pre>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>