ion-content {
    --background: var(--ion-color-dark-tint);
}

ion-select {
    // Workaround to center selection v:
    text-align: center;
    min-width: 10vw;
    max-width: 50vw;
    font-weight: bold;
}

ion-grid {
    // Reduce height by reducing padding and margins
    padding: 0;
    margin: 0;
}

ion-header {
    background-color: var(--ion-color-dark-tint);
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: var(--ion-color-light);
    font-weight: bold;
    .scramble {
        width: 90%;
        left: 5%;
        height: 25vh;
        box-shadow: none !important;
        span {
            font-size: 1rem;
        }
    }
    .time {
        margin-top: 5vh;
        font-size: 3.5em;
    }
    .solve-actions {
        align-items: center;
    }
    ion-button {
        --box-shadow: none !important;
        --background: none;
        width: 5em;
        font-size: 0.9em;
        font-weight: bold;
    }
}

ion-footer {
    padding: 0;
    margin-top: -1px;
    font-family: "Noto Sans";
    background-color: var(--ion-color-dark-tint);
}

.stats {
    color: var(--ion-color-light);
    font-size: 0.9em;
    font-family: var();
}

.green-bg {
    --background: var(--ion-color-success);
}

.red-bg {
    --background: var(--ion-color-danger);
}

.init_bg {
    --background: var(--ion-color-medium-tint);
}

.white-bg {
    background-color: var(--ion-color-medium-tint);
}