ion-content.background-01 {
    --background: url(../../../assets/img/background4.jpg) no-repeat center center / cover;
}

ion-content.background-02 {
    --background: url(../../../assets/img/background1.jpg) 0 0/100% 100% no-repeat;
}

ion-content.background-03 {
    --background: url(../../../assets/img/background2.jpg) 0 0/100% 100% no-repeat;
}

ion-content.background-04 {
    --background: url(../../../assets/img/background3.jpg) 0 0/100% 100% no-repeat;
}

.bg-transparent {
    background: transparent;
}

 :host {
    ion-item {
        --border-color: white !important; // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: green; // valid underline color
        --highlight-color-focused: white;
        --color-focused: white;
    }
}