ion-content.background_sign {
    --background: url(../../../assets/img/bg_img_login_blur_dark.jpg) no-repeat center center / cover;
    --overflow: hidden;
}

.bg-transparent {
    background: transparent;
}

$this_radius: 0.5vh;
ion-label.signup_entry {
    color: rgb(255, 255, 255);
    text-shadow: none;
    border: none;
}

ion-item.signup_entry {
    color: rgb(255, 255, 255);
    background-color: rgba(220, 220, 220, 0.1);
    border-radius: $this_radius;
    padding: 0;
    margin-top: 0;
    text-shadow: none;
}

ion-button.signup_btn {
    margin-top: 1vh;
    color: rgb(255, 255, 255);
    height: 3vh;
    border-radius: $this_radius;
}

ion-label.back_click {
    font-size: 0.85em;
    color: var(--ion-color-primary-tint);
    text-align: center;
    justify-content: center;
    width: 100%;
}

ion-icon.leftIcon {
    padding-left: 0;
    margin-left: -1vh;
    margin-right: 2vh;
}

ion-input {
    padding: 0;
    height: 1vm;
}

:host {
    ion-item {
        --border-color: white !important; // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: green; // valid underline color
        --highlight-color-focused: white;
        --color-focused: white;
    }
}