
<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cubing MTY</ion-card-subtitle>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">WCA id</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input></ion-input>
        </ion-item>

             
      </ion-list>

      <ion-button shape="round" expand="block" color="dark">Registrar</ion-button>

      <ion-button shape="round" expand="block" color="dark" routerLink="/">Regresar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
