<ion-tabs>
  <ion-tab-bar  color="dark" slot="bottom">
    
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="cubing">
      <ion-icon name="timer-outline"></ion-icon>    
    </ion-tab-button>

    <ion-tab-button tab="times">
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="records">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>