<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="times">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="cubing">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-badge>2</ion-badge>       
    </ion-tab-button>

    <ion-tab-button tab="records">
      <ion-icon name="time-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>